.container {
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    height: auto;
    display: flex;
    padding: 1vw 10vw;
    gap: 5vw;
    font-family: 'Nunito', sans-serif;
    font-size: 1.05vw;
    color: #000;
    margin-bottom: 2vw;
}

.imgShelter {
    width: 36vw;
    position: relative;
    bottom: 1.8vw;
}

.containerInfo {
    width: auto;
    max-width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: wrap;
    overflow-wrap: break-word;
}

.containerText {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.6vw;
}

.h1 {
    width: 100%;
    text-wrap: wrap;
    overflow-wrap: break-word;
    margin: 0;
    padding: 0;
    font-size: 4vw;
    font-weight: 700;
    color: #374375;
}

.p {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-wrap: break-word;
}

.containerNumbersInfo {
    width: 100%;
    display: flex;
    gap: 1.05vw;
    flex-direction: column;
    border-radius: 1.3vw;
    padding: 1vw 0.8vw;
    background-color: rgba(55, 67, 117, 0.04);
    backdrop-filter: blur(1.4vw);
    box-shadow: 
        inset 0.21vw 0.21vw 0.42vw rgba(255, 255, 255, 0.2), 
        0.21vw 0.21vw 0.84vw rgba(0, 0, 0, 0.1), 
        inset 0 0.21vw 0.21vw rgba(255, 255, 255, 0.2), 
        inset 0 0 3vw rgba(255, 255, 255, 0.05); 
    font-family: 'Caveat', sans-serif;
}

.h2 {
    font-size: 3.3vw;
    color: #374375;
    margin: 0;
    padding: 0;
    font-weight: 400;
}

.h2 span{
    color: #89515A;
}

.containerNumbers {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    align-items: center;
}

.numberLi {
    font-size: 2.5vw;
    color: #374375;
    font-weight: 700;
    margin: 0;
    padding: 0;
    position: relative;
    right: 0.2vw;
}

.textLi {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.05vw;
    margin: 0;
    padding: 0;
    max-width: 150px;
    text-align: center;
}

.containerButtons {
    width: 100%;
    margin: 0;
    padding: 0 2.1vw;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    border: none;
    text-decoration: none;
    border-radius: 1.85vw;
    padding: 0.8vw 1.6vw;
    cursor: pointer;
    font-family: 'Geologica', sans-serif;
    font-size: 1.47vw;
    color: #fff;
    font-weight: 700;
    box-shadow: 
        inset 0.21vw 0.21vw 0.42vw rgba(255, 255, 255, 0.25), 
        0.21vw 0.21vw 0.84vw rgba(0, 0, 0, 0.25);
}

.button1 {
    background-color: #BABCE2;
}

.button2 {
    background-color: #DFAEA0;
}