.filterContainer {
    min-width: 14vw;
    display: flex;
    flex-direction: column;
    gap: 0.8vw;
}

.p {
    margin: 0;
    padding: 0;
    font-size: 1.3vw;
    font-weight: 400;
    margin-bottom: 20px;
}

.filter {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0.52vw;
    display: flex;
    flex-direction: column;
    gap: 1.05vw;
    flex-wrap: wrap;
}