.container {
    width: auto;
    min-width: 160px;
    max-width: 270px;
    box-sizing: border-box;
    margin: 0;
    outline: 1px solid #B7B7B7;
    font-size: 1.25vw;
    font-weight: 400;
    padding: 8px 13px;
    border-radius: 5px;
    /* appearance: none; */
    text-indent: 0;
}