.filterContainer {
    display: flex;
    width: 100%;
    gap: 5vw;
    align-items: center;
}

.logoContainer {
    display: flex;
    gap: 30px;
}

.logo {
    width: 4vw;
    height: 4vw;
    object-fit: contain;
}

.buttonLogo {
    width: 4vw;
    height: 4vw;
    border-radius: 100%;
    outline: 1px solid #000;
}

.p {
    margin: 0;
    padding: 0;
    font-size: 1.3vw;
    font-weight: 400;
    margin-bottom: 20px;
}

.filter {
    margin: 0;
    padding: 0;
    display: flex;
    row-gap: 1.05vw;
    column-gap: 2.1vw;
    flex-wrap: wrap;
}