.mainContainer {
    display: flex;
    box-sizing: border-box;
    margin: 3vw auto;
    padding: 0.9vw 2.63vw;
    flex-direction: column;
    gap: 2vw;
    width: 76vw;
    font-family: 'Nunito', sans-serif;
    font-size: 1.1vw;
    font-weight: 500;
    color: #A0A0A0;
    border-radius: 1.31vw;
    background-color: #fff;
}

h2 {
    font-size: 1.68vw;
    color: #374375;
    margin: 0;
    padding: 0;
    font-weight: 500;
}

.containerHeader {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.buttonsContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.buttonExit {
    font-size: 1.25vw;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    color: #9D9D9D;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 0.5vw;
    padding: 0;
    margin: 0;
    align-items: center;
    transition: color 0.3s ease, transform 0.3s ease;
}

.buttonExit:hover {
    color: #8d8c8c;
    transform: scale(1.05);
}

.buttonExit img {
    width: 1.73vw;
    height: 1.73vw;
}

.h1 {
    padding: 0;
    margin: 0;
    color: #374375;
    font-size: 2.1vw;
    font-weight: 700;
}

.containerInfo {
    width: 61.15vw;
    display: flex;
    flex-direction: row;
    gap: 4.2vw;
    padding: 0;
    margin: 0;
    margin: 0 auto;
}

.avatarContainer {
    display: flex;
    flex-direction: column;
    gap: 1.05vw;
    align-items: center;
}

.avatar {
    width: 12.65vw;
    height: 12.65vw;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.changeAvatar {
    color: #374375;
    font-size: 1.1vw;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
}

.changeAvatar:hover {
    color: #323d69; 
    transform: scale(1.1);
}

.infoChange {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.5vw;
    padding: 0 1.5vw;
}

.info {
    width: 30vw;
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
    padding: 0;
    margin: 0;
}

.personalInfo {
    display: flex;
    flex-direction: column;
    gap: 1.05vw;
    padding: 0;
    margin: 0;
}

.buttonSave {
    display: flex;
    flex-direction: row;
    gap: 0.5vw;
    padding: 0.4vw 1vw;
    margin: 0;
    align-items: center;
    justify-content: space-between;
    background-color: #8ECF81;
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-size: 1.1vw;
    font-weight: 500;
    border: none;
    border-radius: 999px;
    cursor: pointer;
    width: fit-content;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.buttonSave:hover {
    background-color: #7FBF70;
    transform: scale(1.05);
}

.containerInput {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1.05vw;
    padding: 0;
    margin: 0;
}

.containerInput label {
    width: 8vw;     
    white-space: nowrap;
}


.containerInput input {
    box-sizing: border-box;
    width: 100%;
    border: none; 
    padding: 0.31vw 0.632vw;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 1.1vw;
    color: #000;
    background-color: #F0F0FF;
    border-radius: 999px;
}

.textDelete {
    color: #000;
}

.buttonDelete {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #B1263D;
    font-family: 'Nunito', sans-serif;
    font-size: 1.1vw;
    font-weight: 500;
    text-decoration: underline;
    width: fit-content;
    padding: 0;
    margin: 0;
    transition: color 0.3s ease, text-decoration 0.3s ease, transform 0.3s ease;
}

.buttonDelete:hover {
    color: #9A1F34;
    text-decoration: none;
    transform: scale(1.05);
}

/* Мобильная адаптация */
@media (max-width: 768px) {
    .mainContainer {
        box-sizing: border-box;
        width: 100%;
        padding: 4%;
        gap: 20px;
        font-size: 16px;
        border-radius: 20px;
        margin: 0;
    }

    h2 {
        font-size: 20px;
    }

    .containerHeader {
        align-items: center;
        text-align: center;
    }

    .buttonsContainer {
        flex-direction: row;
    }

    .buttonExit {
        font-size: 4vw;
        gap: 0.2rem;
    }

    .buttonExit img {
        width: 1.2rem;
        height: 1.2rem;
    }

    .h1 {
        font-size: 5.9vw;
    }

    .containerInfo {
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 20px;
    }

    .avatarContainer {
        gap: 10px;
    }

    .avatar {
        width: 100px;
        height: 100px;
    }

    .changeAvatar {
        font-size: 4vw;
    }

    .infoChange {
        width: 100%;
        padding: 0;
    }

    .info {
        width: 100%;
        gap: 15px;
    }

    .personalInfo {
        gap: 10px;
    }

    .buttonSave {
        font-size: 4vw;
        padding: 0.4rem 0.8rem;
        gap: 0.4rem;
    }

    .buttonSave img {
        width: 1.2rem;
        height: 1.2rem;
    }

    .containerInput {
        flex-direction: column;
        gap: 0.5rem;
    }

    .containerInput label {
        width: auto;
    }

    .containerInput input {
        font-size: 4vw;
        padding: 10px;
    }

    .textDelete {
        font-size: 4vw;
    }

    .buttonDelete {
        font-size: 4vw;
    }
}

