.mainContainer {
    display: flex;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    flex-direction: column;
    gap: 2.6vw;
    width: 100%;
    flex-wrap: wrap;
    padding: 3.125vw 6.25vw;
    margin: 0 auto;
    font-family: 'Nunito', sans-serif;
    font-size: 1.25vw;
}

.h2 {
    font-size: 2.1vw;
    font-weight: 700;
    margin: 0;
    padding: 0;
    color: #374375;
}

.container {
    display: flex;
    width: 100%;
    gap: 2vw;
    flex-direction: row;
}

.cardsList {
    width: 100%;
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    grid-auto-rows: max-content;
    /* grid-auto-rows: auto;
    align-items: start; */
    gap: 2vw;
    justify-items: center;
    justify-content: center;
} 
 
.error {
    font-family: 'Nunito', sans-serif;
    font-size: 2.1vw;
    font-weight: 600;
    color: #374375;
    margin: 2vw;
    text-align: center;
    justify-self: center;
}
