.container {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    font-size: 1.05vw;
    font-weight: 400;
    padding-bottom: 0.8vw;
    display: flex;
    flex-direction: column;
    gap: 0.8vw;
}

.arrowButton {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    margin: 0;
    position: relative;
    width: auto;
    height: fit-content;
    align-items: center;
    display: flex;
}

.arrowButton img {
    width: 1.16vw;
    height: fit-content;
    object-fit: contain;
    align-self: center;
}

.filterHeader {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
    height: fit-content;
}

.filterOptions {
    display: flex;
    flex-direction: column;
    gap: 0.3vw;
}

.containerOpen {
    border-bottom: 0.1vw solid #a9a9a9;
}

.filterCheckbox {
    width: 0.9vw;
    height: 0.9vw;
    position: relative;
    cursor: pointer;
    margin: 0;
    margin-right: 0.2vw;
    min-width: 0.9vw;
}

.filterLabel {
    display: flex;
    gap: 0.25vw;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .container {
        font-size: 4vw;
    }

    .arrowButton img {
        width: 3vw;
        height: fit-content;
        object-fit: contain;
        align-self: center;
    }

    .filterCheckbox {
        width: 3vw;
        height: 3vw;
        position: relative;
        cursor: pointer;
        margin: 0;
        margin-right: 0.5vw;
        min-width: 3vw;
    }
}
