.container {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    font-size: 1.05vw;
    font-weight: 400;
    padding-bottom: 0.8vw;
    display: flex;
    flex-direction: column;
    gap: 0.8vw;
}

.arrowButton {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    margin: 0;
    position: relative;
    top: 0.05vw;
}

.filterHeader {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.filterOptions {
    display: flex;
    flex-direction: column;
    gap: 0.3vw;
}

.containerOpen {
    border-bottom: 2px solid #A9A9A9;
}

.filterCheckbox {
    scale: 1.2;
    height: min-content;
    position: relative;
    top: 0.2vw;
    cursor: pointer;
}

.filterLabel {
    display: flex;
    gap: 0.25vw;
}