.card {
    margin: 0;
    padding: 0.52vw;
    box-sizing: border-box;
    width: 22vw;
    display: flex;
    flex-direction: column;
    border-radius: 1.38vw;
    border: 1px solid #fff;
    overflow: hidden;
    box-shadow: 0.21vw 0.21vw 0.84vw rgba(177, 177, 177, 0.25);
    gap: 0.52vw;
    font-family: 'Nunito', sans-serif;
    font-size: 0.85vw;
}

.img {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    margin: 0;
    padding: 0;
    margin-top: -1px;
    border-radius: 0.85vw;
}

.containerInfo {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.8vw;
}

.containerName {
    display: flex;
    flex-direction: column;
    gap: 0.1vw;
}

.containerButtons {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 0.78vw;
    align-items: center;
}

.p {
    font-size: 1.1vw;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.name {
    color: #000;
    font-size: 1.3vw;
    margin: 0;
    padding: 0;
}

.breed {
    color: #9a9a9a;
}

.description { 
    margin: 0;
    padding: 0;
}

.buttonMore {
    border: none;
    background-color: #BABCE2;
    padding: 0.31vw 0.63vw;
    border-radius: 1.052vw;
    font-size: 1.05vw;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

.buttonFavorite {
    background-color: #F7EDEC;
    border: none;
    margin: 0;
    padding: 0;
    border-radius: 10vw;
    height: 2vw;
    padding: 0.42vw;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.favorite {
    width: 1.2vw;
    position: relative;
    top: 0.12vw;
    right: 0vw;
}

.favoriteActive {
    width: 1.2vw;
    position: relative;
    top: 0.12vw;
    right: 0vw;
}

.text {
    margin: 0;
    padding: 0;
}