.container {
    border: 0.1vw solid #74A080;
    display: flex;
    padding: 0.31vw 0.84vw;
    width: fit-content;
    border-radius: 5vw;
    color: #74A080;
    align-items: center;
    gap: 0.4vw;
}

.check {
    width: 1.25vw;
}

.span {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 1.47vw;
    font-weight: 400;
}

@media (max-width: 768px) {
    .container {
        gap: 1vw;
        padding: 0.2rem 0.5rem;
    }

    .container span{
        font-size: 5vw;
    }

    .container img{
        width: 4vw;
    }
}