.mainContainer {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 3.125vw 6.25vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    font-family: 'Nunito', sans-serif;
    font-size: 1.25vw;
    color: #000;
}

.containerDescription {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    width: 100%;
}

.containerInfo {
    display: flex;
    width: 100%;
    gap: 1.7vw;
}

.containerButtons {
    display: flex;
    width: 100%;
    gap: 1.22vw;
}

.containerList {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 1vw;
    margin-bottom: 1.5vw;
}

.containerConditions {
    display: flex;
    gap: 2vw;
    flex-wrap: wrap;
}

.h2 {
    margin: 0;
    padding: 0;
    font-size: 3vw;
    color: #374375;
    font-weight: 700;
}

.p {
    width: 100%;
    font-size: 1.26vw;
    text-wrap: wrap;
    margin: 0;
    padding: 0;
    color: #838383;
}

.buttonShelter {
    font-size: 1.7vw;
    background-color: #9195df;
    border: none;
    color: #fff;
    padding: 0.8vw 1.2vw;
    border-radius: 2.5vw;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.buttonShelter:hover {
    background-color: #6a6fbf; 
    transform: scale(1.05);
    box-shadow: 0.21vw 0.21vw 0.42vw rgba(0, 0, 0, 0.2);
}

.buttonFavorite {
    background-color: #f7edec;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 3.9vw;
    height: 3.9vw;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.buttonFavorite:hover {
    background-color: #F0D0D0;
    transform: scale(1.1);
    box-shadow: 0 0 0.42vw rgba(0, 0, 0, 0.2);
}

.favorite {
    height: 2.1vw;
    position: relative;
    top: 0.15vw;
}

@media (max-width: 768px) {
    .containerInfo {
        display: flex;
        flex-direction: column;
    }

    .containerDescription {
        font-size: 4.5vw;
    }

    .containerDescription h2 {
        font-size: 5.9vw;
    }

    .buttonShelter {
        font-size: 4.5vw;
        font-weight: 500;
        padding: 0.25rem 0.7rem;
        border-radius: 999px;
    }

    .containerButtons {
        gap: 0.5rem;
    }

    .buttonFavorite {
        width: fit-content;
        height: fit-content;
        padding: 0.3rem;
    }

    .buttonFavorite img {
        width: 1.5rem;
        height: 1.5rem;
        position: relative;
        top: 0.1rem;
    }

    .p {
        font-size: 4.5vw;
    }

    .containerList {
        gap: 0.5rem;
        margin-bottom: 0.8rem;
    }
}