.mainContainer {
    width: 76vw;
    height: 105.43vw;
    display: flex;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    flex-direction: row;
    gap: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 1.05vw;
    color: #000;
}

.container {
    width: 44.37vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 2.37vw;
    padding: 1.8vw;
    /* width: 100%; */
}

.containerInfo {
    display: flex;
    flex-direction: row;
    gap: 3.1vw;
    width: 100%;
}

.map {
    width: 31.63vw;
    height: 105.43vw;
}