.mainContainer {
    width: 30vw;
    min-width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.9vw;
    box-sizing: border-box;
}

.mainImg {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    border-radius: 2vw;
    margin: 0;
    padding: 0;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.mainImg:hover {
    transform: scale(1.05); 
}

.sliderContainer {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.navButton {
    background-color: #BABCE2;
    min-width: 2.2vw;
    width: 2.2vw;
    height: 2.2vw;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    visibility: visible;
    opacity: 1; 
    transition: opacity 0.2s;
}

.navButton.hidden {
    visibility: visible; 
    opacity: 0; 
}

.navButton img {
    width: 0.5vw; 
    height: auto;
}

.containerImgs {
    display: flex;
    gap: 0.4vw;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.4vw;
}

.img {
    width: 5.7vw;
    aspect-ratio: 4/3;
    object-fit: cover;
    border-radius: 0.52vw;
    cursor: pointer;
    padding: 0; 
    box-sizing: border-box;
    transition: border 0.2s ease;
}

.img:hover {
    padding: 0; 
    border: 0.15vw solid rgba(186, 188, 226, 0.5);
}

.active {
    padding: 0; 
    border: 0.25vw solid #BABCE2; 
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000; 
}

.modalImage {
    width: 80%;
    max-height: 90%;
    object-fit: contain;
}

