.container {
    width: 100%;
    display: flex;
    gap: 0.5vw;
    text-wrap: wrap;
    font-size: 1.26vw;
}

.h3 {
    width: 19vw;
    font-weight: 700;
    margin: 0;
    padding: 0;
    font-size: 1.47vw;
    color: #374375;
}

.p {
    margin: 0;
    padding: 0;
    position: relative;
    top: 0.23vw;
}
