.mainContainer {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 3.125vw 6.25vw;
    display: flex;
    flex-direction: column;
    gap: 5vw;
}

.containerInfo {
    display: flex;
    width: 100%;
    gap: 1.7vw;
}

.containerButtons {
    display: flex;
    width: 100%;
    justify-content: end;
    gap: 1.22vw;
}

.containerList {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 1vw;
}

.h2 {
    margin: 0;
    padding: 0;
    font-size: 1.9vw;
    color: #424242;
    font-weight: normal;
}

.p {
    width: 100%;
    font-size: 1.26vw;
    text-wrap: wrap;
}

.buttonShelter {
    font-size: 1.7vw;
    background-color: transparent;
    border: 1px solid #539567;
    color: #539567;
    padding: 0.52vw 1.1vw;
    border-radius: 1.05vw;
    cursor: pointer;
}

.buttonFavorite {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.favorite {
    height: 2.32vw;
    position: relative;
    top: 0.15vw;
}
