.error {
    font-family: 'Nunito', sans-serif;
    font-size: 2.1vw;
    font-weight: 600;
    color: #374375;
    margin: 2vw;
    text-align: center;
    justify-self: center;
}

.mainContainer {
    margin: 0;
    box-sizing: border-box;
    padding: 3.125vw 6.25vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
    font-size: 1.25vw;
    gap: 6.3vw;
}

.containerSearch {
    width: 44.3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.58vw;
    margin: 0 auto;
}

.h2 {
    color: #374375;
    font-weight: 600;
    margin: 0;
    padding: 0;
    font-size: 2.1vw;
    margin-bottom: 1.58vw;
}

.text {
    color: #B3B3B3;
    margin: 0;
    padding: 0;
}

.searchContainer {
    border-radius: 999px;
    background-color: rgba(246, 246, 246, 1);
    display: flex;
    width: 44.3vw;
    justify-content: space-between;
    padding: 0.63vw 0.84vw;
}

.inputWrapper {
    display: flex;
    gap: 0.52vw;
    color: rgba(179, 179, 179, 1);
    width: 85%;
}

.searchIcon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 1.47vw;
    margin: auto 0;
}

.searchInput {
    border: none;
    background: transparent;
    font: inherit;
    color: inherit;
    outline: none;
    width: 100%;
}

.searchButton {
    border: none;
    cursor: pointer;
    border-radius: 999px;
    background-color: rgba(186, 188, 226, 1);
    color: rgba(55, 67, 117, 1);
    white-space: nowrap;
    padding: 0.16vw 1.4vw;
    font-family: 'Nunito', sans-serif;
    font-size: 1.25vw;
    font-weight: 600;
    transition: color 0.3s ease, text-decoration 0.3s ease, transform 0.3s ease;
}

.searchButton:hover {
    transform: scale(1.05);
    background-color: rgba(155, 157, 228, 1);
    box-shadow: 0 0 10px rgba(55, 67, 117, 0.3);
}

/* Карточка категории  */

.containerCategories {
    display: flex;
    flex-direction: row;
    gap: 1.5vw;
    margin: 0 auto;
    width: 100%;
    justify-content: space-between;
    cursor: pointer;
}

.categories {
    box-sizing: border-box;
    width: 15.5vw;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 2.16vw 4.9vw;
    gap: 1vw;
    border: none;
    background-color: transparent;
    border-radius: 1.9vw;
    box-shadow: 0.21vw 0.21vw 0.84vw rgba(155, 155, 155, 0.25);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.categories:hover {
    transform: scale(1.05);
    box-shadow: 0.21vw 0.21vw 0.84vw rgba(155, 155, 155, 0.5);
}

.categories img {
    width: 4.21vw;
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    margin: 0 auto;
}

.categories span {
    font-family: 'Nunito', sans-serif;
    font-size: 1.47vw;
    font-weight: 600;
    text-align: center;
    align-self: center;
}

/* Пункт списка */

.containerArticles {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.8vw;
}

.containerArticle {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.25vw;
    border-bottom: 0.1vw solid #A9A9A9;
}

.containerHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-bottom: 1.5vw;
    cursor: pointer;
}

.containerPoint {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.2vw;
}

.containerPoint img {
    width: 0.5vw;
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
}

.p {
    margin: 0;
    padding: 0;
    text-wrap: wrap;
    overflow-wrap: break-word;
    word-wrap:break-word;
}

.plus {
    width: 1.26vw;
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    cursor: pointer;
}

.containerText {
    padding: 1.5vw;
    padding-top: 0;
    box-sizing: border-box;
    width: 100%;
}

.containerText p {
    margin: 0;
    padding: 0;
    text-wrap: wrap;
    overflow-wrap: break-word;
}

/* Популярные статьи */

.containerPopularArticles {
    box-sizing: border-box;
    width: 63.25vw;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background-color: #F8F7FF;
    border-radius: 1.31vw;
    padding: 2.1vw 3.1vw;
}

@media (max-width: 768px) {
    .mainContainer {
        width: 100%;
        box-sizing: border-box;
        font-size: 4vw;
        padding: 0.4rem 0.8rem;
    }

    .containerSearch {
        width: 100%;
    }

    .h2 {
        font-size: 5.9vw;
    }

    .searchContainer {
        width: 15rem;
    }

    .searchIcon {
        width: 3vw;
    }

    .searchInput {
        font-size: 4.5vw;
    }

    .searchButton {
        font-size: 4vw;
    }

    .containerCategories {
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.6rem;
    }

    .categories {
        width: 9rem;
        height: auto;
    }

    .categories img {
        width: 3rem;
    }

    .categories span {
        font-size: 4vw;
    }

    .containerPopularArticles {
        width: 100%;
    }

    .containerPoint p {
        font-size: 4.5vw;
    }

    .containerPoint img {
        min-width: 0.4rem;
        margin-right: 0.3rem;
    }

    .plus {
        width: 3.5vw;
        margin-left: 0.3rem;
    }

    .containerText p {
        font-size: 4vw;
    }
}