.mainContainer {
    width: 76vw;
    display: flex;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 2.1vw;
    flex-direction: column;
    gap: 1.5vw;
    font-family: 'Nunito', sans-serif;
    font-size: 1.05vw;
    color: #000;
}

.containerButtons {
    display: flex;
    flex-direction: row;
    gap: 3.1vw;
    width: 100%;
    margin: 0;
    padding: 0;
}

.button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    font-size: 1.6vw;
    font-weight: 700;
    color: #9d9d9d;
}

.active {
    color: #000;
}

.error {
    font-family: 'Nunito', sans-serif;
    font-size: 2.1vw;
    font-weight: 600;
    color: #374375;
    margin: 2vw;
    text-align: center;
    justify-self: center;
}
